# Análisis de Datos de Ventas

## · Importar los datos

In [2]:
import pandas as pd

# Importar los datos
df = pd.read_csv('./Datos/American Things - Base de Datos.csv', encoding='latin-1')



### datos dumplicados, aplica a numeros de factura, que deben ser unicos para la empresa

# LIMPIEZA DE DATOS

## Datos con formato incorrecto y datos ausentes
### Formatea las columnas "Costo", "Ventas", "Resenia" a formato numérico, reemplazando los datos incorrectos por valores nulos(Nan) y posteriormente se reemplazan los valores nulos por la Media de cada columna

In [3]:
# Convierte los str formato numero y los errores en NaN
df['Costo'] = pd.to_numeric(df['Costo'], errors='coerce')
df['Ventas'] = pd.to_numeric(df['Ventas'], errors='coerce')
df['Resenia'] = pd.to_numeric(df['Resenia'], errors='coerce')

# Reemplaza los valores nulos(NaN) por la media de la columna
df['Costo'] = df['Costo'].fillna(df['Costo'].mean())
df['Ventas'] = df['Ventas'].fillna(df['Ventas'].mean())
df['Resenia'] = df['Resenia'].fillna(df['Resenia'].mean())

## Datos duplicados
### Borra el o los registros duplicados de la columna "Factura"

In [ ]:
# Eliminar duplicados considerando solo la columna 'col2'
df = df.drop_duplicates(subset=['Factura'])

## Datos erroneos
### Se modifican los valores erroneos en las columnas "Fecha" y "Hora"

## · Imprimir los primeros diez registros

In [5]:
print(df.head(10))

       Factura Sucursal      Ciudad    Tipo  Genero               Categoria  \
0  750-67-8428        A  Nueva York  Member  Female       Health and beauty
1  226-31-3081        C     Houston  Normal  Female  Electronic accessories
2  631-41-3108        A  Nueva York  Normal    Male      Home and lifestyle
3  123-19-1176        A  Nueva York  Member    Male       Health and beauty
4  373-73-7910        A       Green  Normal    Male       Sports and travel
5  699-14-3026        C     Houston  Normal    Male  Electronic accessories
6  355-53-5943        A  Nueva York  Member  Female  Electronic accessories
7  315-22-5665        C         N/N  Normal  Female      Home and lifestyle
8  665-32-9167        A  Nueva York  Member  Female       Health and beauty
9  692-92-5582        B     Chicago  Member  Female                  Female

          Costo  Ventas      Fecha   Hora Metodo de Pago   Resenia
0     522.83000  548.97   1/5/2019  13:08        Ewallet  6.996456
1      76.40000   80.22   3/8/2019  10:29           Cash  9.600000
2     324.31000  340.53  Diciembre  13:23    Credit card  7.400000
3     465.76000  489.05  1/27/2019  20:33        Ewallet  8.400000
4     604.17000  634.38   2/8/2019  10:37     Nueva York  5.300000
5     597.73000  627.62  3/25/2019  18:30        Ewallet  4.100000
6     413.04000  433.69  2/25/2019  14:36        Ewallet  5.800000
7     735.60000  772.38  2/24/2019  11:38        Ewallet  8.000000
8      72.52000   76.15  1/10/2019  17:15    Credit card  7.200000
9  325040.90776  172.75  2/20/2019  13:27    Credit card  5.900000

## ·        Describir el dataset

In [6]:
print(df.describe(include='all'))

            Factura Sucursal      Ciudad    Tipo Genero           Categoria  \
count           394      389         384     387    391                 378
unique          394       15          15      10     10                  22
top     831-64-0259        A  Nueva York  Normal   Male  Home and lifestyle
freq              1      135         131     196    195                  65
mean            NaN      NaN         NaN     NaN    NaN                 NaN
std             NaN      NaN         NaN     NaN    NaN                 NaN
min             NaN      NaN         NaN     NaN    NaN                 NaN
25%             NaN      NaN         NaN     NaN    NaN                 NaN
50%             NaN      NaN         NaN     NaN    NaN                 NaN
75%             NaN      NaN         NaN     NaN    NaN                 NaN
max             NaN      NaN         NaN     NaN    NaN                 NaN

               Costo        Ventas     Fecha   Hora Metodo de Pago     Resenia
count   3.950000e+02  3.950000e+02       389    387            392  395.000000
unique           NaN           NaN        94    300              7         NaN
top              NaN           NaN  3/5/2019  10:25           Cash         NaN
freq             NaN           NaN        10      4            148         NaN
mean    3.307942e+05  5.374686e+04       NaN    NaN            NaN    7.009042
std     6.211371e+06  1.006531e+06       NaN    NaN            NaN    1.711522
min     0.000000e+00  1.317000e+01       NaN    NaN            NaN    4.000000
25%     1.396550e+02  1.459050e+02       NaN    NaN            NaN    5.600000
50%     2.806200e+02  2.841900e+02       NaN    NaN            NaN    6.996456
75%     4.986750e+02  5.085450e+02       NaN    NaN            NaN    8.400000
max     1.234535e+08  2.000000e+07       NaN    NaN            NaN   10.000000

## ·        Análisis de columnas numéricas

In [ ]:
numeric_cols = df.select_dtypes(include=['number']).columns

for col in numeric_cols:
    print(f"Análisis de la columna numérica: {col}")
    print(f"Valores válidos sobre el total: {df[col].count()} / {len(df)}")
    print(f"Media: {round(df[col].mean(), 2)}")
    print(f"Mediana: {round(df[col].median(), 2)}")
    print(f"Desviación estándar: {round(df[col].std(), 2)}")
    print(f"Valores ausentes: {df[col].isna().sum()}")
    print(f"Valores mal registrados o erróneos: {df[col].isna().sum() + df[col].isnull().sum()}")
    print("")

## ·        Análisis de columnas categóricas

In [ ]:
categorical_cols = df.select_dtypes(include=['object']).columns

for col in categorical_cols:
    print(f"Análisis de la columna categórica: {col}")
    print(df[col].value_counts())
    print(f"Registros válidos sobre el total: {df[col].count()} / {len(df)}")
    print(f"Valores ausentes: {df[col].isna().sum()}")
    print(f"Valores mal registrados o erróneos: {df[col].isna().sum() + df[col].isnull().sum()}")
    print("")

## ·        Análisis de otras variables

In [ ]:
other_cols = df.columns.difference(numeric_cols).difference(categorical_cols)

for col in other_cols:
    print(f"Análisis de la columna: {col}")
    print(f"Valores válidos sobre el total: {df[col].count()} / {len(df)}")
    print(f"Valores ausentes: {df[col].isna().sum()}")
    print(f"Valores mal registrados o erróneos: {df[col].isna().sum() + df[col].isnull().sum()}")
    print("")